.hero-img {
    -webkit-animation: morph 5s ease-in-out infinite;
    animation: morph 5s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #E6E6E6;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 250px;
    width: 250px;
  }
  
  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  @media only screen and (min-width: 768px) {
    .hero-img {
      height: 330px;
      width: 330px;
    }
  }

  @media only screen and (min-width: 1280px) {
    .hero-img {
      height: 344px;
      width: 362px;
    }
  }