@media only screen and (min-width: 768px) {
  .link {
      font-family: "Red Hat Display";
      font-size: 20px;
      font-weight: 700;
      color: #E6E6E6;


      cursor: pointer;
      --c: #CFEBF5; /* the color */
      --s: .15em;
      
      line-height:1.1em;
      padding-bottom: calc(2.1*var(--s));
      background: 
        conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) 
          left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
        conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) 
          left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat;
      transition: .5s;
  }

  .link:hover {
      --_p: 100%;
      color: var(--c);
  }
}

.link {
  font-family: "Red Hat Display";
  font-size: 20px;
  font-weight: 700;
  color: #E6E6E6;
  text-align: center;
  padding-top: 12px;


  cursor: pointer;
}